#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

body {
  padding: 24px 0;
  background-color: rgba(92, 116, 222, 1);
}

.top {
  display: flex;
  margin-bottom: 24px;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  width: 400px;
  min-height: 70vh;

  position: relative;
  padding: 36px 24px;
  background-color: rgba(250, 250, 250, 1);
  border-radius: 14px;
}

.addButton {
  right: 24px;
  position: absolute;
  color: white;
  background-color: rgba(92, 116, 222, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.todo-item-content {
  width: 100%;
}

.todo-container {
  gap: 8px;
  display: flex;

  .todo-text-input,
  .todo-note-input {
    background: none;
    width: 100%;
    border: none;
    outline: none; /* This removes the focus outline */
    cursor: pointer;

    &:focus {
      cursor: initial;
    }
  }
}

.todo-text-input {
  font-family: "SF-Rounded Regular";
  font-size: medium;
  background: none;
}

.todo-note-input {
  color: rgba(172, 172, 172, 1);
  font-family: SF-Rounded Bold;
  font-size: smaller;
  background: none;

  &::placeholder {
    color: rgba(172, 172, 172, 1);
  }
}

hr {
  border: none;
  border-top: 1px solid rgba(172, 172, 172, 1);
  margin: 5px 0;
  padding: 0;
  height: 0;
}

.date {
  width: fit-content;
  color: rgba(172, 172, 172, 1);
  font-family: SF-Rounded Bold;
  font-size: small;
}

img {
  width: 17px;
  cursor: pointer;
}

/* DatePopup.css */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
}

/* Add any additional styling as needed */
